@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "_Layout";
}

<div class="text-center" id="helloDiv">
    <h1 class="display-4 container-fluid">@ViewData["Wellcome"]</h1>
    <p>You are in the WHAT MVC Client</p>

    <div class="container-fluid justify-content-between" id="wrapper">
        <div class="text-left" style="flex:1 1 30%">
            <h2>About project:</h2>
            @ViewData["Description"]
        </div>

        <div style="flex: 1 1 40%">
            <img src="~/img/Home_page_picture.png" style="width: 100%" />
        </div>

        <div class="text-left" style="flex: 1 1 30%">
            <h2>Project features:</h2>
            <ul>
                <li>Homework and grades</li>
                <li>Timetable of classes</li>
                <li>Lists of students, mentors and secretaries</li>
                <li>Notification</li>
                <li>Export and import</li>
                <li>Access to information 24/7</li>
            </ul>
        </div>
    </div>
</div>

@{
    Dictionary<string, string> tokens = TempData["authTokens"] as Dictionary<string, string>;

    if (tokens != null)
    {
        foreach (var token in tokens)
        {
            <script>
                localStorage.setItem(`@token.Key` +`Token`, `@token.Value`);
            </script>
        }
    }
}
