@model IEnumerable<CharlieBackend.Panel.Models.Lesson.StudentLessonViewModel>

@{
    Layout = "_Layout";
}

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Lessons</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive p-3" style="overflow-x:auto">
                        <table class="table text-center table-striped container-fluid" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr class="thead-dark">
                                    <th scope="col">Date</th>
                                    <th scope="col">Theme</th>
                                    <th scope="col">Presence</th>
                                    <th scope="col">Mark</th>
                                    <th scope="col">Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var studentsLesson in @Model)
                                {
                                    <tr>
                                        <td>@studentsLesson.LessonDate.ToString("yyyy.MM.dd HH:mm")</td>
                                        <td>@studentsLesson.ThemeName</td>
                                        @if (studentsLesson.Presence)
                                        {
                                            <td>+</td>

                                        }
                                        @if (!studentsLesson.Presence)
                                        {
                                            <td>-</td>
                                        }
                                        <td>@studentsLesson.Mark</td>
                                        <td>@studentsLesson.Comment</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
