@model CharlieBackend.Panel.Models.Calendar.CalendarViewModel
@using CharlieBackend.Panel.HtmlHelpers

<div class="card-body">
    <div class="row head">
        <div class="col-calendar">Sunday</div>
        <div class="col-calendar">Monday</div>
        <div class="col-calendar">Tuesday</div>
        <div class="col-calendar">Wednesday</div>
        <div class="col-calendar">Thursday</div>
        <div class="col-calendar">Friday</div>
        <div class="col-calendar">Saturday</div>
    </div>
    @Html.CalendarBodyHtml(Model)
</div>