@using CharlieBackend.Panel.HtmlHelpers
@using CharlieBackend.Panel.Models.Calendar
@model CalendarViewModel

<div class="card-body">
    <div class="row head">
        @Html.CalendarHeaderHtml(Model.DisplayType)
    </div>

    @Html.CalendarBodyHtml(Model)
</div>