
@model IEnumerable<CharlieBackend.AdminPanel.Models.Theme.ThemeViewModel>

@{
    Layout = "_Layout";
}

<div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

        <div class="fixed-bottom ml-4" style="left:90%; right:50%; bottom:8%;">
            <div class="dropleft">
                <button type="button" class="btn btn-lg btn-success btn-circle " data-toggle="dropdown">
                    <i class="fas fa-plus"></i>
                </button>
                <div class="dropdown-menu mr-3" style="border: 0;">
                    <form style="min-width: 170px;" method="post" class="input-group position-fixed mr-5" asp-action="AddTheme" asp-controller="Themes">
                        <input type="text" class="form-control" name="Name" placeholder="Theme`s name" />
                        <button type="submit" class="btn btn-outline-success btn-sm">
                            <i class="fas fa-plus"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Themes</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive p-3" style="overflow-x:unset">
                        <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead class="thead-dark">
                                <tr class="thead-dark row">
                                    <th class="col-10 text-center">Name</th>
                                    <th class="col">Controll</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="row">
                                        <td class="col-10 text-truncate">@item.Name</td>
                                        <td class="col">
                                            <div class="dropdown">
                                                <button class="btn btn-outline-secondar dropdown-toggle"
                                                        type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-cog"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                    <a class="dropdown-item" asp-action="UpdateTheme" asp-controller="Themes" asp-route-id="@item.Id">
                                                        <i class="fas fa-pen"></i>
                                                        <span>Edit </span>
                                                    </a>

                                                    <a class="dropdown-item text-dark js-delete-theme" data-toggle="modal" data-target="#deleteThemeModalWindow" data-item-id="@item.Id">
                                                        <i class="fas fa-pen"></i>
                                                        <span>Delete</span>
                                                    </a>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Delete theme modal window-->
    <div class="modal fade" id="deleteThemeModalWindow" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete theme?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" id="confirmDeleteTheme" href="">Confirm</a>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{

<script type="text/javascript">

    var routeForDeleteTheme = "/Themes/DeleteTheme";

    var deleteThemId = null;

    $(document).on("click", ".js-delete-theme", function (e) {

        e.preventDefault();

        var _self = $(this);

        deleteThemId = _self.data('item-id');

        $("#confirmDeleteTheme").attr("href", routeForDeleteTheme + deleteThemId);

    });

</script>

}
