@model CharlieBackend.AdminPanel.Models.Calendar.CalendarViewModel
@using CharlieBackend.AdminPanel.HtmlHelpers

<div class="card-body">
    <div class="row head">
        <div class="col-1">Sunday</div>
        <div class="col-2">Monday</div>
        <div class="col-2">Tuesday</div>
        <div class="col-2">Wednesday</div>
        <div class="col-2">Thursday</div>
        <div class="col-2">Friday</div>
        <div class="col-1">Saturday</div>
    </div>
    @Html.CalendarBodyHtml(Model)
</div>