@model CharlieBackend.Core.DTO.Account.AuthenticationDto

@{
    Layout = "_LoginLayout";
}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">

        <div class="row">
            <div class="col-lg-12">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Welcome to Admin Panel!</h1>
                    </div>

                    <form class="user" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">

                        <div style="color: red" asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user"
                                   id="InputEmail" asp-for="Email"
                                   placeholder="Enter Email Address...">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-user"
                                   asp-for="Password" placeholder="Password">
                        </div>

                        <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    localStorage.clear();
</script>